.font-bolder {
  font-weight: bold;
}

.card-img-size {
  height: 20rem;
}

img:before {
  content: ' ';
  display: block;
  height: 20rem;
  width: 100%;
  background-image: url('https://via.placeholder.com/300x200?text=Image+Not+Found');
  position: absolute;
} 